$switch-background-active: grey;

.background-grey-light { background:hsl(0, 0%, 92%); };
.small-padding { padding: 1.5rem !important; }

.tiny-padding {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem!important;
}

@import "~bulma/bulma";
@import "~bulma-switch/src/sass/index";